.List-wrap{
  float: left;
  width:45%;
  min-height: 300px;
  margin-top:10px;
  border:1px solid #ddd;
}

.List-wrap h2{
  padding:20px;
}

.List-ul{
  padding:20px;
}

.List-Item{
  height:30px;
  line-height: 30px;
}